/* body {
    font-family: arial;
    background-color: #47004d;
}
.centro{
    position:absolute;
    background-color: black;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    padding: 40px 60px;
    border-radius: 20px;
    color: white;
}
.formulario{
    background-color:#2F4F4F;
    border:solid;
    border-radius:20px;
    width:100%; 
    padding: 08px;
    }
input{
    background:#EEE;
}
.btn {
    background-color:blanchedalmond;
    font-style:italic;
    border:none;
} */

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(19, 19, 20);
    color: white;
}

.centro {
    max-width: 600px;
    margin: 0 auto;
}

/* Estilos para a barra de pesquisa */
.formulario {
    display: flex;
    margin-bottom: 20px;
}

#glosario {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* Estilos para a lista de produtos */
.lista-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.itens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.titulo {
    font-weight: bold;
}

.btn-conteiner {
    display: flex;
    align-items: center;
}

.editar-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.editar-btn i {
    margin-right: 5px;
}

.remover-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.alerta-erro {
    color : #721c24;
    background: #f8d7da;

}
.alerta-sucesso {
    color: #ffffff;
    background: #568b62;
}
.alerta {
    padding: 10px;
}