.lista-container{   
    text-align: center;
    background-color:azure;
    padding: 10px;
    border-radius: 10px;
    size: 200px;
}
.gf{ 

    text-align: center;
    background-color:azure;
    padding: 10px;
    border-radius: 10px;

}